<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Marilyn Sun</h1>
      <p>Computer Science | Tufts 2019</p>
    </div>
    <div class="content">
      <img class="profile-photo" src="images/profile_photo.jpg">
      <p>
        I am an Illinois-born, Beijing and Vancouver-raised sophomore at Tufts. Apart from programming, I enjoy ballroom dancing, playing piano, and travelling around Boston as a member of a semi professional Chinese dance troupe.</p>
     
      <p>
        <br>  
        Over the summer of 2016, I worked as IT Coordinator for the Tufts Conference and Events Services department. Currently, I'm taking a (tough) Machine Structure and Language Assembly class at Tufts but I'm loving it so far!
      </p>
    </div>
	</main>
</body>
</html>
