<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Marilyn Sun</h1>
      <p>Computer Science | Tufts 2019</p>
    </div>
    <div class="content">
      <p>
        Hi, I'm a sophomore at Tufts University.
      </p>
      <p>
        I am a Illinois-born, Beijing and Vancouver-raised computer science major. Apart from programming, I enjoy dancing ballroom, playing piano, and travelling around Bostong as a part of a semi professional Chinese dance troupe.</p>
      <p>
        <br>
        <img class="profile-photo" src="images/profile_photo.jpg">
        Over the summer, I worked as IT Coordinator for the Tufts Conference and Events Services department. Currently, I'm taking a (tough) Machine Structure and Language Assembly class at Tufts and loving it so far!
      </p>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
